DOES_DRAW_HERE/
doom_graphics_unvirtualboyed/
OLD_SRC/
make_into_4_colors/Marine.png
make_into_4_colors/Zombie Sergeant.png
make_into_4_colors/Zombie.png
make_into_4_colors_2/Demon.png
make_into_4_colors_2/Imp.png
make_into_4_colors_2/Objects.png
make_into_4_colors_2/Powerups.png
make_into_4_colors_2/Weapons Doom Alpha.png
make_into_4_colors_2/
src/vbdoom/assets/images/sprites/marine/png/
src/vbdoom/assets/images/sprites/zombie/png/
src/vbdoom/assets/images/sprites/zombie_sgt/png/
src/vbdoom/build/release/
src/vbdoom/build/hfcli.exe
src/vbdoom/build/output.vb
src/vbdoom/main.elf
